iPATH='/path/to/icommands/bin/'
GClocalhost='<the endpoint name of your workstation, i.e. the globus connect endpoint>'
DSSfilePath='<the remote path of the DSSfile in the form /Zone/path/to/filename>'
