iPATH='/home/jack/CINECA/GridTools/iRODS/iRODS/clients/icommands/bin/'

urlendpoint={
    'data.repo.cineca.it': "cinecaRepoSingl",
    'irods-dev.cineca.it': "irods-dev",
    'dtn01.hector.ac.uk': "dtn01",
    'eudat-irodsdev.epcc.ed.ac.uk': "eudat-irodsdev"
}
